@font-face {
  font-family: 'GNF';
  src: url('fonts/GNF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} /* Добавление шрифта GNF */

* {
  font-family: 'GNF';
} /* Применение шрифта для всего сайта */

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
} /* Отключение дефолтного стиля чекбокса */

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: var(--bg--main);
} /* Настройка для тела сайта */

:root {
  --bg--main: rgb(73, 107, 135);

  --color--black: rgb(0, 0, 0);
  --color--grey: rgb(162, 162, 162);
  --color--white: rgb(256, 256, 256);
  --color-yellow: rgb(255, 193, 0);
  --color--background--orange: rgb(244, 191, 95);
  --color--shadow-orange: rgb(150, 109, 85);

  --color--background--beige: rgb(248, 235, 216);
  --color--shadow--beige: rgb(219, 147, 112);
  --color--active--beige: rgb(208, 195, 176);
  --color--active--alt--beige: rgb(254, 250, 243);
} /* Группа переменных для цветов */

/* ============================================ */
/* === label-delete === */
/* ============================================ */

.label-delete {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 48vw;
  height: 58vh;

  background-color: var(--color--background--beige);
  border: solid 3px var(--color--black);
  border-radius: 2rem;
  visibility: hidden;

  display: flex;
  flex-direction: column;

  align-items: center;

  z-index: 100;
  padding: 5vh;

  overflow: hidden;
} /* Основное окно подтверждения очистки списков */

.label-delete h2 {
  width: 20vw;
  height: 4vh;
} /* Стиль для текста в оке удаления */

.buttons-succes {
  width: 40vw;
  height: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 6vw;
} /* Стиль для контейнера кнопок да/нет */

.buttons-succes button {
  background-color: var(--color--white);
  width: 12vw;
  height: 8vh;

  transition: background-color 0.3s ease;

  border: solid 2px var(--color--black);
  border-radius: 20px;
} /* Стиль для кнопок да/нет */

.buttons-succes button:hover {
  background-color: var(--color--grey);
} /* Стиль при наведении на кнопки да/нет */

.label-delete img {
  width: 30vh;
}

/* ============================================ */
/* === top-label === */
/* ============================================ */

.top-label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 4vh;
}

.top-label div {
  position: relative;
  display: flex;
  align-items: center;
}

.top-label h1 {
  background-color: var(--color--background--orange);
  width: 20vw;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 3px var(--color--black);
  box-shadow: 8px 8px 3px var(--color--shadow-orange);
  margin: 0;
} /* Стиль для заголовка программы */

.top-label input {
  background-color: var(--color--background--beige);
  width: max(330px, 20vw);
  height: 10vh;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 3px var(--color--black);
  box-shadow:
    5px 5px var(--color--shadow--beige),
    5px 5px 3px var(--color--black);
  border-radius: 1vw;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  font-size: max(25px, 1.4vw);
  color: var(--color--black);
  padding-left: max(86px, 5vw);
} /* Стиль для ввода месяца */

.top-label span {
  position: absolute;

  left: 1vw;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease;

  font-size: max(25px, 1.4vw);
  color: var(--color--grey);

  z-index: 100;
}

.top-label input:focus {
  background-color: var(--color--active--alt--beige);
  transform: translate(-2px, -2px);
  outline: none;
  box-shadow:
    7px 7px var(--color--shadow--beige),
    7px 7px 3px var(--color--black);
} /* Стиль при активации поля ввода */

.top-label input:focus + span {
  transform: translate(-2px, -2px);
} /* Стиль для спан при фокусе на поле ввода */

/* ============================================ */
/* === pretop-label === */
/* ============================================ */

.pretop-label {
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: max(20px, 40vw);

  margin-top: 5vh;
}

.pretop-label button {
  background-color: var(--color--white);
  height: 5vh;

  aspect-ratio: 1 / 1;

  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: 600;

  border: solid 3px var(--color--black);
  border-right: none;
} /* Стиль для кнопок в окнах задач */

.pretop-label h2 {
  width: 15vw;
  padding-left: 1rem;
} /* Стиль для текста в окнах задач */

.task-label,
.nodeadline-label {
  background-color: var(--color--background--orange);
  width: max(330px, 20vw);
  height: 5vh;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 3px var(--color--black);
  box-shadow: 0px 10px 2px var(--color--shadow-orange);
} /* Стиль для контенеров заголовков задач */

/* ============================================ */
/* === label-text-quests === */
/* ============================================ */

.label-text-quests,
.label-text-task,
.label-text-nodeadline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
} /* Флекс расположения для основных контейнеров */

.label-text-quests {
  margin-top: 2vh;
} /* Отступ для секции */

.column-task,
.column-nodeadline {
  background-color: var(--color--background--orange);
  width: 30vw;

  border: solid 2px var(--color--black);
  border-radius: 1rem;
  box-shadow:
    2px 2px var(--color--shadow--beige),
    2px 2px 3px var(--color--black);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 1vh 1vw;

  gap: 12px;
} /* Стиль для колонок задач */

.label-text-task,
.label-text-nodeadline {
  width: 30vw;
  height: 3vh;

  align-items: center;
} /* Стиль для контенера поля ввода и чекбокса */

.task-input,
.nodeadline-input {
  background-color: var(--color--background--beige);
  width: 100%;
  height: 3vh;

  border: solid 2px var(--color--black);
  border-radius: 1vh;
  box-shadow:
    2px 2px var(--color--shadow--beige),
    2px 2px 3px var(--color--black);

  transition:
    background-color 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;

  font-size: 1.2rem;
  box-sizing: border-box;
  padding-left: 8px;
} /* Стиль для полей ввода задач */

.task-cb,
.nodeadline-cb {
  background-color: var(--color--background--beige);
  height: 3vh;
  aspect-ratio: 1 / 1;

  border: solid 2px var(--color--black);
  border-radius: 1vh;
  box-shadow:
    2px 2px var(--color--shadow--beige),
    2px 2px 3px var(--color--black);

  transition:
    background-color 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.3s ease;

  position: relative;
  box-sizing: border-box;
} /* Стиль для чекбокса */

.nodeadline-cb:checked,
.task-cb:checked,
.nodeadline-cb:checked + .nodeadline-input,
.task-cb:checked + .task-input {
  background-color: var(--color--active--beige) !important;
  transform: translate(2px, 2px) !important;

  box-shadow: 0px 0px 0px var(--color--black) !important;
  text-decoration: line-through;
} /* Стиль для чекбокса при активации. Связь с полями ввода */

.task-input:focus,
.nodeadline-input:focus,
.task-input:focus .task-cb,
.nodeadline-input:focus .nodeadline-cb {
  background-color: var(--color--active--alt--beige);
  transform: translate(-2px, -2px);

  outline: none;

  box-shadow:
    4px 4px var(--color--shadow--beige),
    4px 4px 3px var(--color--black);
} /* Стили при активации полей ввода. Связь с чекбоксами */

.task-cb:checked::after,
.nodeadline-cb:checked::after {
  width: 100%;
  height: 100%;
  content: '✔';
  position: absolute;
  font-weight: 100;
  font-size: 2rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  color: var(--color--black);
} /* Стиль для состояния при активации */

.main-photo img {
  height: 35vh;
  transform: translateY(-10%);
} /* Главное фото */

/* ============================================ */
/* === days-week === */
/* ============================================ */

.days-week {
  width: 100%;
  height: 6vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0;
  margin: 0;
  margin-top: 2vh;
} /* Стиль для контейнера заголовков дней недели */

.days-week li {
  background-color: var(--color--background--beige);
  width: 8vw;

  text-align: center;

  border: solid 2px var(--color--black);
  border-radius: 20px;
  box-shadow:
    3px 3px var(--color--shadow--beige),
    3px 3px 3px var(--color--black);

  box-sizing: border-box;
  list-style: none;
} /* Стиль для текста заголовка дней недели */

/* ============================================ */
/* === label-text-week === */
/* ============================================ */

.label-text-week {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
} /* Стиль для секции */

.label-text-week ul {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  margin-top: 2vh;
  gap: 1vh;
} /* Стиль для колонок дней недели */

.label-text-week ul li {
  display: flex;
  justify-content: center;

  width: 100%;
} /* Стиль для контейнеров с чекбоксом и полями ввода дней недели*/

.label-text-week ul li input[type='text'] {
  background-color: var(--color--background--beige);
  width: 13vw;
  height: 3vh;

  border: solid 2px var(--color--black);
  border-radius: 1vh;
  box-shadow:
    2px 2px var(--color--shadow--beige),
    2px 2px 3px var(--color--black);

  transition:
    background-color 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;

  font-size: 1.2rem;
  padding-left: 8px;
  box-sizing: border-box;
} /* Стиль для полей ввода дней недели */

.label-text-week ul li input[type='checkbox'] {
  display: none;
} /* Удаление чекбокс у дней недели */

.label-text-week ul li input[type='text']:focus {
  background-color: var(--color--active--alt--beige);
  transform: translate(-2px, -2px);

  outline: none;

  box-shadow:
    4px 4px var(--color--shadow--beige),
    4px 4px 3px var(--color--black);
} /* Стиль при активации полей ввода дней недели */
