html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  height: auto;
  padding: 0px;
  margin: 0px;
  background-color: rgb(73, 107, 135);
  scrollbar-gutter: stable;

  display: flex;
  flex-direction: column;
} /* Общие стили для сайта */

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  font-family: "GNF";
  box-sizing: border-box;
  letter-spacing: 2px;
} /* Применение шрифта для всего сайта */
